version: "3.9"
services:
  homeassistant:
    volumes:
        - .:/test
    build:
      context: .
      dockerfile: Dockerfile
      args:
        BUILD_FROM: "ghcr.io/home-assistant/aarch64-base:3.14"
    image: foo-repro
    container_name: foo-repro